@page "/"

<h1>Welcome to ElasticSearch Blazor Demo!</h1>

@if (IsClientWorking)
{
    <p>ElasticSearch Service configured correctly and working</p>
}
else
{
    <p>ElasticSearch Service not working. Please check configuration.</p>

}


